.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  display: none;
}

.success {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
  	display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
